@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
         format("woff2"),
         url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
         url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}
body,
input {
    font-size: 16px;
    line-height: 24px;
    color: #353740;
    font-family: "ColfaxAI";
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 90vh;
    padding: 20px;
    align-items:flex-start;
}
.input,
.output {
    flex: 1;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    font-family: "ColfaxAI";
    height: 100%;
}
.input {
    width: 40%;
}
.output {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    font-family: "ColfaxAI";
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 0.3;
    width: 35px;
}
textarea {
    width: 90%;
    height: 90%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    resize: none;
    overflow: auto;
}
button {
    cursor: pointer;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    transition: background-color 0.3s;
    width: 35px;
    font-family: "ColfaxAI";
}
button:hover {
    background-color: #e0e0e0;
}
output textarea {
    height: 45%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  z-index: 1001;
}
.copy-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.input textarea {
    flex-grow: 1; /* Add this line */
    margin-bottom: 10px; /* Add this line */
}

.popup h1, .popup p {
    margin: 0;
    padding: 0;
}

