<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GVF News Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>GVF News Generator</h3>
  <div class="container">
    <div class="input-section">
    <form action="/" method="post">
      <textarea type="text" id="article" placeholder="Paste your news article here"/ required></textarea>
    </form>
    <div class="button-section">
      <button id="submit-button">Submit</button>
      <button id="translate-button">Translate</button>
    </div>
    <div class="output-section">
      <div class="summary-section">
        <h2>Summarized English:</h2>
        <textarea id="summary-output" readonly></textarea>
      </div>
      <div class="translation-section">
        <h2>Translated Chinese:</h2>
        <textarea id="translation-output" readonly></textarea>
      </div>
    </div>
</body>
</html>
