<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GVF News Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <div class="container">
    <div class="input">
      <textarea id="input-text" placeholder="Paste your news article here" required></textarea>
    </div>
    <div class="buttons">
      <button id="summarize">Submit</button>
      <button id="translate">Translate</button>
    </div>
    <div class="output">
        <h2>Summarized English:</h2>
        <textarea id="summary-output" readonly></textarea>
        <h2>Translated Chinese:</h2>
        <textarea id="translation-output" readonly></textarea>
    </div>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
